{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">프로필 등록</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <!-- 오류표시 start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" id="title"
                   value="{{ form.title.value|default_if_none:''}}">
        </div>

        <div class="form-group">
            <label for="author">멘토 이름</label>
            <input type="text" class="form-control" name="author" id="author"
                   value="{{ form.author.value|default_if_none:''}}">
        </div>


        <div class="form-group">
            <label for="school">출신 학교</label>
            <input type="text" class="form-control" name="school" id="school"
                   value="{{ form.school.value|default_if_none:''}}">
        </div>

        <div class="form-group">
            <label for="workExperience">합격 전 이력</label>
            <textarea class="form-control" name="workExperience" id="workExperience"
                      rows="5">{{form.workExperience.value|default_if_none:''}}
            </textarea>
        </div>

        <div class="form-group">
            <label for="PR">자기소개</label>
            <textarea class="form-control" name="PR" id="PR"
                      rows="8">{{form.PR.value|default_if_none:''}}
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>


{% endblock %}